/* Import Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Reset CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Body Styles */

body {
    background-color: rgb(4, 2, 32);
    color: rgb(237, 237, 237);
    font-family: "Roboto", sans-serif;
}


/* Container Styles */

.container {
    background-color: rgb(211, 15, 34);
    margin: 100px auto;
    /* Adjusted margin */
    padding: 20px;
    width: 35%;
    box-shadow: 8px 8px rgb(49, 1, 1);
    /* Optimized box-shadow */
    border-radius: 2px 3px 20px 2px;
}


/* Header Styles */

.container h2 {
    color: #d186ff;
    text-align: start;
}


/* Subscript Styles */

sub {
    font-size: 0.7rem;
}