* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", "Helvetica neue", "firs sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.1rem;
}
body {
    min-height: 100vh;
}
/* typography reset */
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: blue;
}

/* grid starts here */

.container {
    display: grid;
    height: 100vh;
    
    grid-template-areas: 
    "header header header"
    "main   main    main"
    "footer footer  footer";

}

header {
    grid-area: header;
    background-color: red;
    height: 10vh;
    align-items: start;
}

main {
    grid-area: main;
    background-color: whitesmoke;
}
footer {
    grid-area: footer;
    background-color: blue;
}