* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", "Helvetica neue", "firs sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* typography reset */
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: blue;
}

/* grid starts here */