* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
    background-color: #f0f0f0;
}

/* typography reset */
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #007bff;
}

/* grid starts here */

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

header {
    background-color: #dc3545;
    color: #fff;
    padding: 1rem;
}

main {
    background-color: #fff;
    padding: 1rem;
}

footer {
    background-color: #007bff;
    color: #fff;
    padding: 1rem;
    text-align: center;
}
